{% extends "ctcapp/survey_welcome.html" %}
{% block content %}
<h4>Survey Detail</h4>
<p></p>
    <div>
        <p><strong>Submitted by:</strong> {{ survey.first_name }}&nbsp;{{ survey.last_name }}<br />
            <strong>Email:</strong> {{ survey.email }}
        </p>
        <p>{{ survey.first_name }} says -- <strong>"{{ survey.comment }}"</strong></p>
        <p><strong>Date:</strong>
            {% if "None" %}
                <span>Not specified.</span>
            {% else %}
                {{ survey.submitted }}</p>
            {% endif %}
    </div>
{% endblock %}